{% extends "index.html"%}
	{%block style%}
		<style>
	p {border: 1px solid rgb(102, 0, 204);}
	</style>
	{%endblock%}
		{% block title %}
		<title>
			My hobbies	
		</title>
		{% endblock %}
		{% block body%}
		<p STYLE="position:absolute; TOP:70px; LEFT:0px; WIDTH:1270px; HEIGHT:340px;">
		<IMG STYLE="position:absolute; TOP:30px; LEFT:10px; WIDTH:260px; HEIGHT:150px" SRC="../static/pro1.png">
		<IMG STYLE="position:absolute; TOP:180px; LEFT:10px; WIDTH:260px; HEIGHT:150px" SRC="../static/pro2.png">
		<h5 style="color:rgb(153, 102, 255); font-size:2em; margin-left:280px; margin-top:100px">I fell in love with programming before I knew what it was. It is fun and it takes me away from the daily routine of life. I program with passion and love. I learned how to write code for games and websites and is still willing to learn more and more . Because I enjoy doing it. Programming is my way of getting my point passed across. The cool thing about technology and programming is that you can teach yourself and there is always something new to learn. </h5>
		</p>
		<p STYLE="position:absolute; TOP:500px; LEFT:0px; WIDTH:1270px; HEIGHT:340px;">
		<a>
		<IMG STYLE="position:absolute; TOP:30px; LEFT:970px; WIDTH:260px; HEIGHT:150px" SRC="../static/sl.jpg">
		<IMG STYLE="position:absolute; TOP:180px; LEFT:970px; WIDTH:260px; HEIGHT:150px" SRC="../static/ssls.jpg">
		<h5 style="color:rgb(153, 102, 255); font-size:2em; margin-left:10px; margin-top:95px; margin-right:280px">Swimming has been my favorite sport since I was very young. Water was always my comfort area. It is the place where I through every problem I have and start looking at life positively. Swimming always managed to empower the relationship between me and my family and friends while spending time at the pool or on the beach. While swimming we move are arms and legs which provides us with a full body workout. It is also beneficial for the hurt and lungs, thus it helps with moving the blood around the body.</h5>
		<a>
		</p>
		<p STYLE="position:absolute; TOP:900px; LEFT:0px; WIDTH:1270px; HEIGHT:280px;">
		<IMG STYLE="position:absolute; TOP:20px; LEFT:10px; WIDTH:190px; HEIGHT:240px" SRC="../static/hl.jpg">
		<h5 style="color:rgb(153, 102, 255); font-size:2em; margin-left:200px; margin-top:95px;">Horse ridding is my favorite outdoor sport because it is very competitive. It is a great way to get out in the fresh air. I love taking care of horses. I like cleaning them dressing them and even braid their hair. They are very fun to deal with, and once they know you they will be very friendly.   </h5>
		<a>
		</p>
		{% endblock %}
		
	