{% extends "index.html"%}
		{% block title %}
		<title>
			Home	
		</title>
		{%endblock%}

		{% block body%}
		<IMG STYLE="position:absolute; TOP:100px; LEFT:300px; WIDTH:150px; HEIGHT:150px" SRC="../static/LLL.jpg">
		<IMG STYLE="position:absolute; TOP:270px; LEFT: 950px; WIDTH:300px; HEIGHT:150px" SRC="../static/family.jpg">
		<IMG STYLE="position:absolute; TOP:270px; LEFT:160px; WIDTH:300px; HEIGHT:150px" SRC="../static/la.jpg">
		<IMG STYLE="position:absolute; TOP:450px; LEFT:800px; WIDTH:300px; HEIGHT:150px" SRC="../static/wsl.jpg">
		<IMG STYLE="position:absolute; TOP:450px; LEFT:10px; WIDTH:260px; HEIGHT:150px" SRC="../static/alp.jpg">
		<IMG STYLE="position:absolute; TOP:450px; LEFT:1110px; WIDTH:150px; HEIGHT:150px" SRC="../static/ly.jpg">
		<IMG STYLE="position:absolute; TOP:270px; LEFT:5px; WIDTH:140px; HEIGHT:150px" SRC="../static/lay.jpg">
		<IMG STYLE="position:absolute; TOP:100px; LEFT:10px; WIDTH:260px; HEIGHT:150px" SRC="../static/fl.jpg">
		<IMG STYLE="position:absolute; TOP:100px; LEFT:800px; WIDTH:300px; HEIGHT:150px" SRC="../static/bdl.png">
		<IMG STYLE="position:absolute; TOP:100px; LEFT:1110px; WIDTH:130px; HEIGHT:150px" SRC="../static/pl.jpg">
		<IMG STYLE="position:absolute; TOP:270px; LEFT:800px; WIDTH:130px; HEIGHT:150px" SRC="../static/bwl.jpg">
		<IMG STYLE="position:absolute; TOP:450px; LEFT:300px; WIDTH:150px; HEIGHT:150px" SRC="../static/sml.jpg">
		{%endblock %}

		




