<!DOCTYPE html>
<html>
	<head>
		{%block style%}
		{%endblock%}
		{%block title%}
		{%endblock%}
	</head>
	<body background ="../static/background.jpg">
		<a>
		<a href="index.html"style= "margin-left:50px">
		<IMG STYLE="position:absolute; TOP:0px; LEFT:500px; WIDTH:44px; HEIGHT:44px" SRC="../static/home.png" title="home">
		</img> 
		</a>
		<a>
		<a href="hobbies.html">
		<IMG STYLE="position:absolute; TOP:0px; LEFT:560px; WIDTH:44px; HEIGHT:44px" SRC="../static/hobbies.png"title="hobbies">
		</img> 
		</a>
		<a href="blog.html">
		<IMG STYLE="position:absolute; TOP:0px; LEFT:620px; WIDTH:44px; HEIGHT:44px" SRC="../static/blog.jpg" title="blogs">
		</img> 
		</a>
		<a>
		<a href="project.html">
		<IMG STYLE="position:absolute; TOP:0px; LEFT:680px; WIDTH:44px; HEIGHT:44px" SRC="../static/project.jpg" title="projects">
		</img> 
		</a>
		<a href="contactme.html">
		<IMG STYLE="position:absolute; TOP:0px; LEFT:740px; WIDTH:88px; HEIGHT:44px" SRC="../static/contact me.png" title="contact me">
		</img>
		</a>
		<IMG STYLE="position:absolute; TOP:-20px; LEFT:1px; WIDTH:200px; HEIGHT:150px" SRC="../static/logolayansayeh.png">
		</a>
		<IMG STYLE="position:absolute; TOP:-20px; LEFT:1px; WIDTH:200px; HEIGHT:150px" SRC="../static/logolayansayeh.png">
		</a>
		<a href= "https://www.facebook.com/layan.sayeh"target="_blank"> <IMG STYLE= "position:absolute; TOP:0px; LEFT:1110px; WIDTH:44px; HEIGHT:44px" SRC=   "../static/fb.png"title="facebook">
		</a>
		<a href= "https://www.instagram.com/lay_sayeh" target="_blank"> <IMG STYLE= "position:absolute; TOP:0px; LEFT:1157px; WIDTH:44px; HEIGHT:44px" SRC=   "../static/instagram.png"title:"instagram">
		</a>
		<a href="snapcode.html" target="_blank">
		<IMG STYLE="position:absolute; TOP:0px; LEFT:1204px; WIDTH:44px; HEIGHT:44px" SRC="../static/snapchat.png"title:"snapcode">
		</img> 
		</a>
		{%block body%}
		{%endblock%}
	</body>
</html>