{% extends "index.html"%}
	{% block title %}
		<title>
			Contact me	
		</title>
		{% endblock %}
		{% block body %}
		<form name="layan" action="layan">
			<table>
				<tr>
					<td>
						<input type="text" name="text"style= "margin-TOP: 200px">
					</td>
				</tr>
				<tr>
					<td>
						<textarea rows="4" cols="50">
							leave a comment here
						</textarea>
					</td>
				<tr>
					<td>
						<input style="margin-left: 395px;
" type="submit" name="submit" value="submit" onclick="function(document.formlayan.text)">
					</td>
	</table>
		</form>
		{% endblock %}
		
	